* {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.text-small {
  font-size: .75rem;
}

.table th,
.table td {
  vertical-align: middle;
}

.form-width-wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}

.table-scroll-wrapper {
  height: calc(100ch - 300px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.container-login {
  height: 100vh;
}

.form-wrapper {
  position: relative;
  min-width: 330px;
  min-height: 300px;
  background-color: #fff;
  border-radius: .3rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-wrapper.flipped {
  min-height: 284px;
}

.form-wrapper.flipped .form-login {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.form-wrapper.flipped .form-forgot {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.form-login,
.form-forgot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-login .form-control,
.form-forgot .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-forgot {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

[data-toggle="flip"] {
  cursor: pointer;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  margin-left: .75rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.username {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fixed-header {
  position: fixed;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  z-index: 1020;
}

.panel-top {
  padding-top: 48px;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 248px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 0;
  display: none;
}

.slideout-menu::-webkit-scrollbar {
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  /* A background-color is required */
  background-color: #fff;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
  color: #fff;
  background-color: #444;
}

.toggle-button {
  cursor: pointer;
}

.toggle-button.rotate {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-link {
  padding: 12px 16px;
  color: inherit;
  border-bottom: 1px solid #333;
  -webkit-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
  cursor: pointer;
  z-index: 1;
}

.nav-link:hover {
  color: inherit;
  background-color: #007bff;
}

.sub-menu {
  display: none;
  background-color: #4d4d4d;
}

.sub-menu .nav-list {
  padding-left: 40px;
}
/*# sourceMappingURL=main.css.map */