.table {
  th, 
  td {
    vertical-align: middle;
  }
}

.form-width-wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}

.table-scroll-wrapper {
  height: calc(100ch - 300px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}