.table-responsive {
  .table {
    max-width: none;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch !important;
  }
} 

.table {
  thead th, 
  td {
    vertical-align: middle;
  }
}

.table-fixed-head{ 
  overflow-y: auto; 
  height: calc(100ch - 300px); 
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  thead,
  th,
  tfoot td {
    position: sticky;
    top: 0;
  }
}

.form-width-wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}

.custom-label-none {
  &::before {
    top: .5rem;
    left: -1.25rem;
  }
  &::after {
    top: .5rem;
    left: -1.25rem;
  }
}